.card {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
 	border: 1px solid rgba(0,0,0,0.1);
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 40px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }